.chat-side
  .chat-side_header
    .header__name
      = current_user.name
      %p ユーザーネーム
    %ul.header__lists
      %li.list
        = link_to '#' do
          = icon('fa', 'edit',class: 'icon')
      %li.list
        = link_to '#' do
          = icon('fa', 'cog',class: 'icon')
      %li.list
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'

  .groups
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ
    .group
      .group__name
        グループ名
      .group__message
        新着メッセージ      